{% extends 'base_loggedin.html' %}

{% block title %}Study Planner: Add Task{% endblock %}

{% block head %}
    <script src="{{ url_for('static',filename='scripts/scripts.js') }}"></script>
{% endblock %}

{% block heading %}Add Task{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <form action="/addtask" method="POST" class="box column is-half" id="add-task-form">
            <div class="field">
                <label for="task" class="label">Task</label>
                <input id="task" class="input" type="text" name="task" placeholder="e.g. Study for Math exam" />
            </div>

            <br>

            <div class="field">
                <label for="group-select" class="label">Group</label>
                <div class="select">
                    <select id="group-select" name="group-select" onchange="detectNewGroup()">
                        {% for group in groups %}
                            <option value="{{ group.group_id }}">{{ group.group_name }}</option>
                        {% endfor %}
                        <option value="new">New group...</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <input id="new-group-input" class="input" type="text" name="new-group-input" placeholder="e.g. Math" style="display:none;" />
            </div>
            {% if "group_name_length" in errors %}
                <p class="help is-danger">Group name must be between 1 and 50 characters long.</p>
                <br>
            {% endif %}

            <br>
            
            <div class="field">
                <textarea id="description" class="textarea" name="description" placeholder="Description (Optional)" rows="3"></textarea>
            </div>
            
            <br>
            
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="important" />
                    Important
                </label>
            </div>

            <br>

            <div class="field">
                <label for="due-date" class="label">Due Date</label>
                <input id="due-date" class="input" type="date" name="due-date" />
            </div>


            <br>
            {% if "empty_field" in errors %}
                <p class="help is-danger">Please fill in all required fields.</p>
                <br>
            {% endif %}
            
            <input type="submit" value="Add Task" class="button is-primary">
        </form>
    </div>
{% endblock %}