<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    
        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">

                    <!-- Custom SVG Logo that takes up most of the lines on this template -->
                    <svg width="60" height="60" viewBox="-40 -40 80 80">
                        <circle fill="var(--accent-color)" r="8" class="logo"/>
                        <circle fill="transparent" stroke="var(--accent-color)" r="15" class="logo"/>
                        <circle fill="transparent" stroke="var(--accent-color)" r="25" class="logo"/>
                        <circle fill="transparent" stroke="var(--accent-color)" r="35" class="logo"/>
                        <g>
                            <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="360" to="0" dur="1s" repeatCount="indefinite"/>            
                            <g transform="translate(0, 15)">
                                <circle fill="var(--accent-color)" r="4" class="logo"/>
                            </g>
                        </g>
                        <g>
                            <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0" to="360" dur="2s" repeatCount="indefinite"/>            
                            <g transform="translate(0, 25)">
                                <circle fill="var(--accent-color)" r="4" class="logo"/>
                            </g>
                        </g>
                        <g>
                            <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="360" to="0" dur="3s" repeatCount="indefinite"/>            
                            <g transform="translate(0, 35)">
                                <circle fill="var(--accent-color)" r="4" class="logo"/>
                            </g>
                        </g>
                    </svg>
                </div>
            
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/dashboard">
                            Dashboard
                        </a>
            
                        <a class="navbar-item" href="">
                            Page 1
                        </a>
            
                        <a class="navbar-item">
                            Page 2
                        </a>
                    </div>
            
                <div class="navbar-end">
                    <div class="navbar-item">
                    <div class="buttons">
                        <a class="navbar-item" href="">
                        <strong>Username</strong>
                        </a>
                        <a class="navbar-item" href="/">
                            Log out
                        </a>
                    </div>
                    </div>
                </div>
                </div>
            </nav>
        </header>

        <section class="hero">
            <div class="hero-body">
                <h1 class="title has-text-centered">
                    {% block heading %}{% endblock %}
                </h1>
        </section>

        <div class='content'>
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>