{% extends 'base_loggedin.html' %}

{% block title %}Study Planner: Dashboard{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block content %}
    <p class="has-text-centered">Welcome to the dashboard!</p>
    <hr>
    <div class="columns is-multiline">
        {% if tasks | selectattr('important', 'equalto', True) | selectattr('completed', 'equalto', False) | list | length > 0 %}
        <div class="column is-full">
            <p class="title is-4 has-text-centered has-text-danger">Important Tasks</p>
        </div>
        {% endif %}
            {% for task in tasks %}
                {% if task.important and not task.completed %}
                    <div class="column is-half is-offset-3">
                        <div class="box has-background-danger-30">
                            <div class="media-content">
                                <div class="content">
                                    <p class="important-text">
                                        <strong class="important-text">Task:</strong> {{ task.name }}<br>
                                        <strong class="important-text">Due Date:</strong> {{ task.due_date.strftime('%d/%m/%Y') }}<br>
                                    </p>
                                </div>
                                <form action="/complete" method="POST">
                                    <input type="hidden" name="task_id" value="{{ task.task_id }}">
                                    <input type="submit" value="Complete" class="button is-danger">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
    <div class="columns is-multiline">
        {% for group in groups %}
            <div class="circle-holder column is-full is-centered">
                <div class="collision-checker">
                        <div class="group-circle" onclick="window.location.href='/group/{{ group.group_id }}'">
                            <div class="hero-body">
                                <p class="group-circle-title title is-4">{{ group.group_name }}</p>
                            </div>
                        </div>
                </div>
            </div>
            {% set has_tasks = tasks | selectattr('group_id', 'equalto', group.group_id) | list | length > 0 %}
            {% set group_tasks = tasks | selectattr('group_id', 'equalto', group.group_id) | list %}
            {% if not has_tasks %}
                <div class="column is-4 is-offset-4 has-text-centered">
                    <div class="box">
                        <p class="has-text-centered">No tasks available for this group.</p>
                    </div>
                </div>
            {% endif %}
            {% for task in group_tasks %}
                {% if loop.index < 3 %}
                    <!-- Centre tasks based on how many are visible -->
                    <div class="column is-one-third is-offset-{{ ((3 - group_tasks|length) * 2 if not group_tasks|length > 2 else 0) if loop.index == 1 else 0 }}">
                        {% include 'task_box.html' %}
                    </div>
                {% endif %}
                {% if loop.index == 3 %}
                    {% set remaining_tasks = tasks | selectattr('group_id', 'equalto', group.group_id) | list | length - 2 %}
                        {% if remaining_tasks > 0 %}
                            <div class="column is-one-third">
                                <div class="box task-circle" onclick="window.location.href='/group/{{ group.group_id }}'">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p class="has-text-centered">+{{ remaining_tasks }} more tasks</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
{% endblock %}