{% extends 'base.html' %}

{% block title %}StudySpheres:: Log In{% endblock %}

{% block heading %}Log In{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <form action="/login" method="POST" class="box column is-half" id="login-form">
            <div class="field">
                <label for="username-login" class="label">Username</label>
                <input id="username-login" class="input" type="text" name="username-login" placeholder="e.g. JohnSmith123" value="{{ usernameFailed }}" />
            </div>

            <br>
            
            <div class="field">
                <label for="password-login" class="label">Password</label>
                <input id="password-login" class="input" type="password" name="password-login" placeholder="********" value="{{ passwordFailed }}" />
            </div>
            
            <br>

            <input type="submit" value="Log In" class="button is-primary">

            {% if failed_attempt %}
                <div class="has-text-centered has-text-danger">
                    <p>Invalid login details.</p>
                </div>
            {% endif %}
        </form>
        
    </div>

    

    <p class="has-text-centered">Don't have an account? <a href="/signup">Sign up here!</a></p>
{% endblock %}