{% extends "base_loggedin.html" %}

{% block title %}Study Planner: My Day{% endblock %}

{% block heading %}My Day{% endblock %}

{% block content %}
    <div class="container">
        <div class="day-overview">
            {% if tasks|length == 0 %}
                <p>No tasks for today! Add some tasks <a href="/addtask">here.</a></p>

            {% else %}
            
            <div class="columns is-multiline">
                <div class="column is-half">
                    <h3>Important Tasks</h3>
                    <ul>
                        {% for task in tasks %}
                            {% if task.important %}
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            <strong>Task:</strong> {{ task.name }}<br>
                                            {% if task.details %}
                                                <strong>Details:</strong> {{ task.details }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <form action="/complete" method="POST">
                                        <input type="hidden" name="task_id" value="{{ task.task_id }}">
                                        <input type="submit" value="Complete" class="button is-primary">
                                        <a class="button is-info" href="/task/{{ task.task_id }}">Details</a>
                                    </form>
                                    
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="column is-half">
                    <h3>Other Tasks</h3>
                    <ul>
                        {% for task in tasks %}
                            {% if not task.important %}
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            <strong>Task: </strong> {{ task.name }}<br>
                                            {% if task.details %}
                                                <strong>Details: </strong>{{ task.details }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <form action="/complete" method="POST">
                                        <input type="hidden" name="task_id" value="{{ task.task_id }}">
                                        <input type="submit" value="Complete" class="button is-primary">
                                        <a class="button is-info" href="/task/{{ task.task_id }}">Details</a>
                                    </form>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}