{% extends 'base.html' %}

{% block title %}Study Planner: Sign Up{% endblock %}

{% block heading %}Sign Up{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <form action="/signup" method="post" class="box column is-half" id="signup-form">
            <div class="field">
                <label for="username" class="label">Username</label>
                <input id="username" class="input" type="text" placeholder="e.g. JohnSmith123" />
            </div>

            <br>
            
            <div class="field">
                <label for="password" class="label">Password</label>
                <input id="password" class="input" type="password" placeholder="********" />
            </div>

            <div class="field">
                <label for="password" class="label">Confirm Password</label>
                <input id="password" class="input" type="password" placeholder="********" />
            </div>
            
            <br>

            <input type="submit" value="Sign Up" class="button is-primary">
            </div>
        </form>

        <section class="column">
            <p class="has-text-centered">Already have an account? <a href="/login">Log in here!</a></p>
        </section>
    </div>
{% endblock %}