{% extends 'base_loggedin.html' %}

{% block title %}Task: {{ task.title }}{% endblock %}

{% block heading %}Task{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <h2 class="title is-4">{{ task.name }}</h2>
                    <p>{{ task.details }}</p>

                    {% if not task.completed %}
                        <strong>Due:</strong> {{ task.due_date.strftime('%A, %d/%m/%Y') }}<br>
                        {% if task.important %}
                            <strong class="has-text-danger circle-header">Important</strong><br>
                        {% endif %}
                        <form action="/complete" method="POST">
                            <input type="hidden" name="task_id" value="{{ task.task_id }}">
                            <input type="submit" value="Complete" class="button is-primary">
                        </form>
                    {% else %}
                        <strong class="has-text-success">Task Complete</strong>
                    {% endif %}
                    <a href="/edittask/{{ task.task_id }}" class="button is-info">Edit</a>
                    <a href="/deletetask/{{ task.task_id }}" class="button is-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}