@import url('https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css');

:root {
    /* This web app uses the Bulma CSS framework */

    /* Bulma color scheme edits */
    --bulma-primary-h: 206deg;
    --bulma-primary-l: 61%;
    --bulma-link-l: 20%;
    --bulma-info-h: 63deg;
    --bulma-info-l: 68%;
    --bulma-scheme-s: 36%;
    --bulma-body-background-color: light-dark(#f5f5f5, #0f141f);
    
    /* Custom color scheme */
    color-scheme: light dark;
    --accent-color: light-dark(#1c182c, #e0e0e0);
    --accent-color-invert: light-dark(#e0e0e0, #1c182c);

    
}

header {
    padding:10px;
    border-bottom: var(--accent-color-invert) solid 2px;
}

.navbar {
    background-color: var(--bulma-body-background-color);
}

#welcome-svg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    overflow: hidden;
}

#logo-svg {
    padding-right: 10px;
}

#login-form, #signup-form {
    height: 100%;
    padding: 30px;
}

.hero-body {
    padding: 20px;
}

.hero {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.circle-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collision-checker {
    position: relative;
    margin: .5em;
    border-radius: 50%;
    width: 200px;
    text-align: center;
    align-content: center;
    overflow: visible;
    height: 200px;
}

.group-circle {
    animation: circle-leave 0.3s ease-in-out forwards;
    position: relative;
    border-radius: 50%;
    width: 200px;
    text-align: center;
    align-content: center;
    overflow: visible;
    height: 200px;
    background-color: var(--bulma-link);
}

/* Animation for when circle leaves hover */
/* Animation runs when page loads as a side-affect of the way this runs, but I think that looks cool anyways */
@keyframes circle-leave {
    0% {
        transform: scale(1.1);
        background-color: var(--bulma-link-30);
        border: var(--bulma-link) solid 7px;
    }
    100% {
        transform: scale(1);
        background-color: var(--bulma-link);
        border: var(--bulma-link-30) solid 0px;
    }
}

/* Checks an unchnaging div to avoid issues when hovering near the edge as it resizes */
.collision-checker:hover > .group-circle {
    animation: circle-hover 0.4s ease-in-out;
    cursor: pointer;
    background-color: var(--bulma-link-30);
    transform: scale(1.1);
    border: var(--bulma-link) solid 7px;
}

/* Animation for when circle is hovered */
@keyframes circle-hover {
    0% {
        transform: scale(1);
        background-color: var(--bulma-link);
        border: var(--bulma-link-30) solid 0px;

    }
    90% {
        transform: scale(1.12);
        border: var(--bulma-link) solid 10px;
    }
    100% {
        transform: scale(1.1);
        background-color: var(--bulma-link-30);
        border: var(--bulma-link) solid 7px;
    }
}



.collision-checker:active > .group-circle {
    animation: circle-active 0.1s ease-in-out;
    background-color: var(--bulma-link);
    transform: scale(1);
}

/* Animation for when circle is clicked */
@keyframes circle-active {
    0% {
        transform: scale(1.1);
        background-color: var(--bulma-link-30);
    }
    100% {
        transform: scale(1);
        background-color: var(--bulma-link);
    }
}

.group-circle-title {
    color: #d8d9ff;
}

.task-circle {
    position: relative;
    margin: .5em;
    border: var(--bulma-info-dark) solid 7px;
    border-radius: 50%;
    width: 320px;
    text-align: center;
    align-content: center;
    justify-self: center;
    overflow: hidden;
    height: 190px;
    background-color: var(--bulma-info);
    color:#0f141f;
    transition: all 0.5s;
    cursor: pointer;
}

.task-circle:after {
    content: 'Details...';
    position: absolute;
    opacity: 0;  
    height: 100%;
    top: 0px;
    right: -20px;
    align-content: center;
    padding: 10px;
    transition: 0.5s;
    color: #0f141f;
    background-color: var(--bulma-info-light);
}
  
.task-circle:hover{
    padding-right: 60px;
    padding-left:0px;
}
  
.task-circle:hover:after {
    opacity: 1;
    right: 0px;
}

.circle-header {
    color: #1c182c;
}